@charset "utf-8";
/*
	Design by Shane Doyle <iamshanedoyle@ubuntu>
*/

html, body {
	height			: 100%;
	padding			: 0;
	margin			: 0;
	color			: #4d4d4d;
	font			: normal 12px Arial, Helvetica, sans-serif;
}

.main {
	min-height		: 100%;
}

.contnent {
	overflow		: auto;
	padding-bottom	: 120px;
} 


/* Start of Header Styles */
.header {
	width			: 100%;
	height			: 100px;
	background		: -moz-linear-gradient(-90deg, #363737, #252525);
	background		: -webkit-gradient(linear,left top, left bottom, from(#363737), to(#252525));
	border-bottom	: 1px solid #aaa;
}

.headerHolder {
	width			: 800px;
	margin			: 0 auto;
	height			: 60px;
	padding			: 20px;	
}

.title {
	color			: #fff;
	font-size		: 24px;
}

.divide {
	color			: #78bbe6;
	font-size		: 28px;
}

.motto {
	color			: #fff;
}

.menubar {
	float			: right;
    margin			: 15px 0 0;
    padding			: 3px 0 0 10px;
    width			: 460px;
}

.menubar ul{
    list-style		: none outside none;
    margin			: 0;
    padding			: 0;
}

.menubar li {
    float			: left;
    padding			: 0 10px;
}

.menubar li a {
    color			: #959595;
    display			: block;
    float			: left;
    font			: 16px Arial;
    text-decoration	: none;
}

.menubar li a:hover, .menubar li.active a {
    color			: #78bbe6;
    text-decoration : underline;
}
/* End of Header Styles */


/* Start of Footer Styles */
.footer {
	position		: relative;
	margin-top		: -100px;
	height			: 100px;
	clear			: both;
	background		: -moz-linear-gradient(90deg, #363737, #252525);
	background		: -webkit-gradient(linear,left top, left bottom, from(#252525),to(#363737));
	border-top  	: 1px solid #aaa;
} 

.footerHolder {
	width			: 800px;
	margin			: 0 auto;
	height			: 40px;
	padding			: 30px 20px;	
}

.author {
	color			: #fff;
	text-align		: center;
}

.author span {
	color			: #78bbe6;
	font-size		: 16px;
}
/* End of Footer Styles */


/* Start of Content Styles */
.contentHolder {
	width			: 800px;
	min-height		: 100%;
	margin			: 0 auto;
	padding			: 0 20px 120px 20px;
}

.contentHolder span {
	color			: #1e90ff;
}

.contentHolder h1 {
	color			: #000;
}

.contentHolder h1 span {
	font-size		: 16px;
	margin			: 10px 0 0 10px;
}

.contentHolder h3 {
	color			: #1e90ff;
}

.contentHolder img {
	width			: 500px;
	padding			: 10px;
	border			: 1px solid #7f7f7f;
}

.contentHolder img.compare {
	width			: 45%;
	margin			: 0px 5px;
}

.contentHolder img.companyLogo {
	width			: 200px;
	border			: none;
	padding			: 0px;
	margin			: 10px 0 0 0;
}


.certificate {
	width			: 100%;
	border			: 1px solid #7f7f7f;
	background		: #363737;
}

.certificate th {
	background		: #363737;
	width			: 20%;
	color			: #fff;
	padding			: 5px;
	font-weight		: bold;
}

.certificate .info {
	background		: #363737;
	width			: 20%;
	color			: #fff;
	padding			: 5px;
	font-weight		: bold;
}

.certificate tr {
	background		: #fff;
	margin			: -1px;
}


.certificate td {
	padding			: 0px 10px;
}


/* End of Content Styles */


/* Start of Reference Styles */
.reference {
	border			: 1px solid #7f7f7f;
	margin			: 20px 0 0 0;
	padding			: 0 15px 15px 15px;	
	width			: 96%;
	color			: #4d4d4d;
}

.reference h3 {
	text-decoration	: underline;
	color			: #000;
}

/* End of Reference Styles */
